$font-color: #2A2B37;
$hover-button-color: #7CA7DD;
$active-button-color: #287FEB;
$gradient: linear-gradient(90deg, #DFE1E2 0%, #A5B0BF 50%, #708096 100%);
$button-color: #1E2333;
$input-color: #DFE1E2;
$stroke-input-color: #708096;
